table.table-vertical-align-middle>tbody>tr>td {
  vertical-align: middle;
}
.clearfix {
  clear: both;
}


footer {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #e2e2e2;

  li {
    float: left;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem
  }

  p {
    clear: left;
    margin-bottom: 0
  }
}

@media (max-width: 960px) {
  .container {
    width: 100%;
  }
}
