.article-content {
  width: 100%;
  overflow: hidden;
  font-size: 1.6rem;
  padding-bottom: 1.2rem;

  img {
    max-width: 100%;
  }
}

.panel-primary, .panel-success, .panel-warning {
  .view-more a {
    color: #fff;
  }
}

.article-title {
  margin-top: 0;
  h1 {
    margin-top: 0;
    font-size: 26px;
  }
}

div.pagination {
  margin: 0;
}

.index-links {
  margin-top: 1rem;
  a {
    padding-right: .5rem;
  }
}

.form-search-bar {
  float: inherit;
  padding: 10px 0 20px;
}

.article-list-empty {
  text-align: center;
  font-size: 20px;
  color: red;
  margin-bottom: 25px;
}
