.article-content {
  width: 100%;
  overflow: hidden;
  font-size: 1.6rem;

  img {
    max-width: 100%;
  }
}

.panel-primary, .panel-success, .panel-warning {
  .view-more a {
    color: #fff;
  }
}

.article-title {
  margin-top: 0;
  h1 {
    margin-top: 0;
  }
}
